@import "tailwindcss";


@layer base {
  body {
    @apply bg-black text-white overflow-hidden select-none m-0 p-0 w-screen h-screen;
    font-family: 'Inter', system-ui, sans-serif;
  }
  
  /* Hide scrollbar for Kiosk */
  ::-webkit-scrollbar {
    display: none;
  }
}